body {
    margin-top: -2.5vw;
    min-height: 52vw;
    min-width: 52vw;
    background-color: #6868ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 9vw;
}

.contador {
    font-size: 8vw;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 2.7vw;
    
}

h1 {
    padding-top: 0vw;
    padding-bottom: 24vw;
    width: 99%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contador {
    padding-top: 20vw;
    padding-bottom: 0vw;
    width: 99%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
