body {
    padding: 0px;
    margin-top: -50px;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #6868ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 99%;
    text-align: center;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 120px;
}

.contador {
    font-size: 150px;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 50px;
}

