body {
    padding: 0vw;
    margin-top: -2.660989888238425vw;
    min-height: 51.62320383182544vw;
    min-width: 51.62320383182544vw;
    background-color: #6868ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 99%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 10vw;
}

.contador {
    font-size: 7.982969664715274vw;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 2.660989888238425vw;
}

